[submodule "user-provisioning"]
	path = user-provisioning
	url = git@github.com:teamapis/user-provisioning.git
[submodule "atlassian-access"]
	path = atlassian-access
	url = git@github.com:teamapis/atlassian-access.git
[submodule "bitbucket"]
	path = bitbucket
	url = git@github.com:teamapis/bitbucket.git
[submodule "confluence"]
	path = confluence
	url = git@github.com:teamapis/confluence.git
[submodule "jira-platform"]
	path = jira-platform
	url = git@github.com:teamapis/jira-platform.git
[submodule "jira-platform-v2"]
	path = jira-platform-v2
	url = git@github.com:teamapis/jira-platform-v2.git
[submodule "jira-service-management"]
	path = jira-service-management
	url = git@github.com:teamapis/jira-service-management.git
[submodule "jira-software"]
	path = jira-software
	url = git@github.com:teamapis/jira-software.git
[submodule "trello"]
	path = trello
	url = git@github.com:teamapis/trello.git
[submodule "user-management"]
	path = user-management
	url = git@github.com:teamapis/user-management.git
